button{
   margin-inline-start: 25%;
   
}
img{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}
body{
    background-image: url(https://img.freepik.com/vector-gratis/personas-enfocadas-que-estudian-escuela-linea_74855-5834.jpg?w=1060&t=st=1659220659~exp=1659221259~hmac=ae2479440a3159aff14407f8b223114a4700be6839aae0834c0c1a873b239747);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}