<p>
    <mat-toolbar class="toolNombres">
      <span *ngIf="usuarioToShow">Detalle de usuario {{usuarioToShow.username}}</span>
    </mat-toolbar>
</p>


    <div class="card"*ngIf="usuarioToShow">
      <div class="card-body" >
        <table class="table"  >
          <thead>
            <tr>
              <th >ID: {{usuarioToShow.id}}</th>

            </tr>
          </thead>
          <tbody>
            <mat-list role="list">
                <mat-list-item role="listitem">Nombre de Usuario:  {{usuarioToShow.username}}</mat-list-item>
                <mat-list-item role="listitem">Email:  {{usuarioToShow.email}}</mat-list-item>
                <mat-list-item role="listitem">Constraseña:  {{usuarioToShow.password}}</mat-list-item>
                <mat-list-item role="listitem">Telefono:  {{usuarioToShow.phonenumber}}</mat-list-item>
                <mat-list-item role="listitem">Direccion:  {{usuarioToShow.adress}}</mat-list-item>
            </mat-list>

          </tbody>
        </table>
      </div>
    </div>





