.body{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    background-color: rgba(105, 159, 221, 0.904);
}
.login{
    width: 100%;
    max-width: 330px;
    text-align: center;
    background-color: rgb(253, 247, 255);
}