<div class="body">
 
    <div class="login">
        <form [formGroup]="form" (ngSubmit)="ingresar()">
            <h2>Webcampus</h2>
            <img src="../../../assets/images/graduates.png" width="50%">
            <mat-form-field appearance="fill">
                <mat-label>Usuario</mat-label>
                <input matInput formControlName="usuario">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input matInput formControlName="password" type="password">
            </mat-form-field>

            <button type="submit" mat-raised-button color="accent">Ingresar</button>
        </form>

    </div>




</div>