<table class="table">
    <thead>
        <img src="../../../assets/images/angular.png">
        <h1></h1>
        
      <tr>
        <th>ID</th>
        <th>Nombre/s</th>
        <th>Apellido/s</th>
        <th>Sexo</th>
        <th></th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let alumno of alumnosList">
        <th *ngIf="alumno.curso == 'angular'" >{{alumno.id}}</th>
        <td *ngIf="alumno.curso == 'angular'">{{alumno.nombre}}</td>
        <td *ngIf="alumno.curso == 'angular'">{{alumno.apellido}}</td>
        <td *ngIf="alumno.curso == 'angular'">{{alumno.sexo}}</td>
      </tr>

    </tbody>
  </table>
