
        <form [formGroup]="formCrearUsuario"><!-- </form> (ngSubmit)="agregarUsuario()"> -->
            <h1>Administración de usuarios</h1>
            <!-- //CAJA NOMBRE DE USUARIO -->
            <mat-form-field appearance="fill">
                <mat-label >Nombre de Usuario</mat-label>
                <input formControlName="username" matInput>
            </mat-form-field>
            <!-- //CAJA TIPO DE USUARIO -->
            <mat-form-field appearance="fill">
                <mat-label>Tipo de Usuario</mat-label>
                <mat-select formControlName="role">
                    <mat-option value="usuario">Usuario</mat-option>
                    <mat-option value="administrador">Administrador</mat-option>
                </mat-select>
            </mat-form-field>
            <!-- //CAJA CONTRASEÑA DE USUARIO -->
            <mat-form-field appearance="fill">
                <mat-label>Contraseña</mat-label>
                <input formControlName="password" matInput>
            </mat-form-field>
            <!-- //CAJA EMAIL DE USUARIO -->
            <mat-form-field appearance="fill">
                <mat-label>E-mail</mat-label>
                <input formControlName="email" matInput>
            </mat-form-field>
            <!-- //CAJA TELEFONO DE USUARIO -->
            <mat-form-field appearance="fill">
                <mat-label>Telefono</mat-label>
                <input formControlName="phonenumber" matInput>
            </mat-form-field>
            <!-- //CAJA DIRECCION DE USUARIO -->
            <mat-form-field appearance="fill">
                <mat-label>Direccion</mat-label>
                <input formControlName="adress" matInput>
            </mat-form-field>
            <span *ngIf="submitted && formCrearUsuario.invalid" class="badge badge-danger">Por favor completar los datos requeridos</span>
            <div mat-dialog-action [align]="'end'">
            <button mat-stroked-button color="accent" class="cancel" mat-dialog-close>Cancelar</button>
            <button  type="submit" mat-raised-button color="accent" (click)="aceptarAlumno()" >Aceptar</button>
            </div>
        </form>
