<mat-toolbar>

    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
        (click)="opened=!opened">
        <mat-icon>menu</mat-icon>
    </button>
    <span>WebCampus</span>
    <span class="example-spacer"></span>
    <span>Bienvenido, XXXXX !</span>
    <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
        <mat-icon routerLink="/login">logout</mat-icon>
    </button>
    



</mat-toolbar>


<mat-sidenav-container>
    <mat-sidenav [(opened)]="opened" mode="side">
        <button class='side' mat-raised-button color="accent" routerLink="/dashboard/inicio"><a >Inicio</a></button>
        <button class='side' mat-raised-button color="accent" routerLink="/dashboard/alumnos"><a >Alumnos</a></button>
        <button class='side' mat-raised-button color="accent" routerLink="/dashboard/usuarios"><a >Usuarios</a></button>
        <button class='side' mat-raised-button color="accent" routerLink="/dashboard/cursos"><a >Cursos</a></button>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>

