<p>
  <mat-toolbar class="toolNombres">
    <span>Usuarios</span>
  </mat-toolbar>
</p>

<div class="container">
  <div class="card">
    <div class="card-body" >
      <span class="h3">Panel de Usuarios</span>  
      <button mat-raised-button color="accent" class="botonAgregar" (click)="openDialog()">Crear Usuario</button>
      <table class="table"  >
        <thead>
          <tr>
            <th >ID</th>
            <th >Nombre de Usuario</th>
            <th >E-mail</th>
            <th ></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of usuariosList">
            <th>{{user.id}}</th>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
            <td>
              <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
                <mat-icon>delete</mat-icon>
              </button>
              <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon" (click)="getDetallesUsuarios(user.id)">
                <mat-icon>info</mat-icon>
              </button>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>

</div>
